.Hero-Title {
font-size: 70px;
color: rgb(3, 28, 63);
}
.Introductory-Text {
    font-size: 25px;
    color: rgb(3, 28, 63);
}
.fading {
    animation: fade-in ease-in 1s;
    animation-iteration-count: 1;
}
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.our-yellow {
    color: rgb(255, 193, 7);
}
.our-blue {
    color: rgb(3, 28, 63);
}
.our-pink {
    color: rgb(214, 51, 132);
}
.Introductory-Text {
    margin-right: 0%;
}
.Section-2:hover {
    color: rgb(255, 193, 7);
}
.font-size-headers {
    font-size: 70px;
    font-weight: 650;
}
.card-background {
    background-color: rgb(3, 28, 63);
}