@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0; font-family: "Raleway"; box-sizing: border-box;}

.Navbar-top {
    background-color: rgb(3, 28, 63);
    color: white;
}
.nav-item:hover {
    border-bottom: 6px solid rgb(255, 193, 7);
}
.nav-item {
    font-family: "Raleway";
    border-bottom: 6px solid transparent;
}